QPushButton{
    background-color:black;
    color:#95a0aa;
    font-weight:blod;
    border:none;
}

QPushButton#welcomeBtn:hover,#mainBtn:hover,#carMapBtn:hover,#autoNavigationBtn:hover,#aboutBtn:hover,#settingBtn:hover{
    color:white;
    background-color:#dd2a30;
}

QGroupBox#groupBox{
    width:241px;
    height:674px;
    /*background-color:#32323a;*/
    background-color:#000;
}
*/

