QPushButton{
    background-color:white;
    color:#aaaaaa;
    font-weight:blod;
    border:none;
}

QPushButton#welcomeBtn:hover,#mainBtn:hover,#carMapBtn:hover,#autoNavigationBtn:hover,#flowCountBtn,#aboutBtn:hover,#settingBtn:hover{
    color:white;
    background-color:#669933;
}

QPushButton#connectBtn{
    background-color:#c9452b;
}


